#hide {
    visibility: hidden
}



.backgroundPage{
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}


.form-control, .card-body, .form-group, .card-form, .col-lg-4, .backgroundPage, .ozbackground{
    background-color: #008cff9c;
}


input[type="text"], input[type="number"],input[type="email"],input[type="password"],select[type="text"]{
    background-color : #e4e7dab4; 
    padding: 1px;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


td,tr{
    text-align: center; 
}

.mypointer{
    cursor: pointer;
}


.nonethings{
    display: none;
}

.remove_border{
    border: 1px solid rgb(18, 107, 55);

    border: .1px solid #900;
    border-bottom: none;
}

#file{
    background-color: #545b62;
}